
    
.message {
    margin-top: 5;
    padding: 2;
    font-size: 16px;
    text-align: center; }
    

    #title404{
    margin: 0;
    padding: 0;
    font-size: 11em;
    transform: skewY(-5deg);
    transition: 0.4s ease-in-out all;

    }
    #h3404 {
    color: black;
    font-size: 2em;
    font-weight: lighter;
    line-height: 1;

    }
    #h2404{
    color: black;
    font-size: 4em;
    font-weight: lighter;
    line-height: 1;
    }


        
