
#admin {
    max-width: 70%;
    margin-bottom: 2%;
}

.normalValueDiv {
    display: flex;
    text-align: left;
}
.formAdmin{
    width: 90%;
}

.divAdmin{
    font-size: 80%;
    display: grid;
    grid-template-columns: 73% 25%;
    grid-gap: 2%;
    width: 100%;
    margin:2%;
}

.normalValueInput {
    padding: 1vh;
    font-size: medium;
    margin-bottom: 1.5vh;
    border-radius: 10px;
}

#normalValuesLabel {
    margin-right: auto;
    margin-left: 0px;
    min-width: 60%;
}

@media (max-width: 800px) {
    .formAdmin{
        width: 85vw;
    }
}
