.DocDiv {
    margin-top: 70px;
}

.PatientList {
    height: max-content;
    width: max-content;
    font-size: 80%;
    box-shadow: 0px 0px 6px 0px #b2b2b2;
    border-radius: 7px;
}

.patientButtonBody {
    width: 100%;
}

.PatientListTitle {
    margin-bottom: 10px;
    font-size: 20px;
    text-indent: 20px;
}
.PendingButtons{
    float: right;
}

.PatientAccept{
    background-color: #1A73E8;
    color: white;
    border-radius: 3px;
    border: none;
}
.PatientRefuse{
    background-color: #e81a1a;
    color: white;
    border-radius: 3px;
    border: none;
}
.patientRequestDiv{
    margin-bottom: 5px;
}

.PendingPatientList{
    overflow: auto;
    height: 20vh;
}
