.viewGrid {
    display: grid;
    grid-template-columns: 31.5% 31.5% 31.5%;
    grid-gap: 2.5%;
    width: 100%;
    grid-template-rows: auto;
    margin-top: 0;
    margin-left: 0%;
    border-radius: 15px;
    padding: 2.5% 2.5%;
    background: #1a73e8;
    box-shadow: 7px 7px #114d9b;
    height: max-content;

}

#result {
    animation: fadeIn 2s;
}

.checkbox {
    float: right;
}

.labelView {
    margin-left: 5%;
    font-size: 80%;
    color: #444;
}

.choicesView {
    width: 90%;
    margin-left: 5%;
    align-content: center;
}

.line {
    width: inherit;
    margin-left: 5%;
}

.variable {
    float: right;
    margin-right: 9%;
    animation: fadeIn 2s;
}

.column {
    color: #444;
    width: 100%;
    background: white;
    border-radius: 5px;
    padding: 1% 1%;
    box-shadow: 7px 7px #488fed;
    vertical-align: middle;
    line-height: 1;
}

.column h2 {
    text-align: center;
    text-decoration: underline;
}

.column p {
    font-size: 80%;
}

.resetButton {
    position: relative;
    margin: 5%;
    background: #1A73E8;
    backdrop-filter: blur(10px);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 1vh;
    color: white;
    transition: all 0.1s ease-in-out;
    text-align: center;
    font-size: 60%;
    width: auto;
    text-decoration: none;
    box-shadow: 5px 5px #488fed;
    animation: slideInFromRight 1.2s;
}

.resetButton:hover {
    background: #488fed;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(75%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 100;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/*circular progress bar*/

.circle-background,
.circle-progress {
    fill: none;
}

.circle-background {
    stroke: #e0e0de;
}

.circle-progress {
    stroke-linecap: round;
    stroke-linejoin: round;
}

.circle-text {
    font-size: 100%;
    font-weight: bold;
    animation: fadeIn 2s;
}

.disease {
    font-size: 100%;
    margin: 3%;
    margin-top: 13%;
}

.avatar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.divAvatar {
    width: 70%;
    padding-top: 70%;
    position: relative;
    margin-left: 15%;
}

.imgAvatar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;

}

@media (max-width: 1200px) {
    .App-header-align{
        margin-left: -10%;
    }
    .viewGrid {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .App-header-align{
        margin-left: -20%;
    }
    .viewGrid{
        display: block;
        width: 90%;
        grid-template-rows: auto;
        margin-top: 0;
        margin-left:0;
        border-radius: 15px;
        padding: 2.5% 2.5%;
        background: #1a73e8;
        box-shadow: 7px 7px #114d9b;
        height: max-content;
    }

    .resetButton{
        font-size: 100%;
    }

    .column{
        font-size: 100%;
        color: #444;
        width: 90%;
        background: white;
        border-radius: 5px;
        margin: 5%;
        padding: 1% 1%;
        box-shadow: 7px 7px #488fed;
        vertical-align: middle;
        line-height: 1;
    }
}