
#questionnaire {
    /*background-color: rgba(72, 143, 237, 0.09);*/
    width: 45vw;
    margin-left: 0px;
    border: lightgrey 2px solid;
    box-shadow: 1px 1px;
    margin-top: 5%;
    padding-right: 100px;
    padding-left: 100px;
    background-color: #f2f7fc;
    border-radius: 10px;
}

#questionnaireButtonDiv {
    float: right;
    margin-bottom: 2vh;
}

#questionGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    grid-template-rows: auto;
}

#questionGrid-item {

}

.inputDiv {
    display: inline-flex;
    overflow-wrap: anywhere;
    width: 100%;
    margin-left: 2%;
    display: inline-flex;
}

.questionDiv {
    font-size: medium;
    /* border: 0.5px solid lightgray;*/
    /* box-shadow: 0.5px 0.5px lightgray;*/
    border-radius: 10px;
    overflow-clip: true;
    margin-bottom: 20px;
    text-align: left;
    animation: 0.5s ease 0s 1 slideInFromUp;
}

@keyframes slideInFromUp {
    0% {
        /*transform: translateY(-100%);*/
        transform: rotateY(180deg);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 100;
    }
}


.questionTitle {
    min-width: 50%;
    max-width: 100%;
    margin-bottom: 2vh;
    margin-left: 20px;
    margin-right: 20px;
}

.questionTitleDiv {
    display: inline-flex;
    margin: 0;
    width: 100%;
    align-content: flex-start;
}


.questionButton {
    margin-right: 18%;
    margin-top: 2vh;
    margin-bottom: 5%;
    font-size: larger;
    width: fit-content;
}

#questionnaireTitle {
    text-align: center;
    font-size: 2.5em;
}