.register {
    display: flex;
    min-height: auto;
    max-width: 60%;
    min-width: 50%;
    justify-content: center;
    margin-top: 20%;
    background-color: white;
    position: relative;
}

@media (max-width: 900px) {

    .register {
        display:block;
        min-height: auto;
        max-width: 60%;
        min-width: 50%;
        justify-content: center;
        margin-top: 20%;
        background-color: white;
        position: relative;
    }
}

.disclaimer {
    font-size: 55%;
    margin-left: 3%;
}
