.register {
    display: flex;
    min-height: auto;
    max-width: 60%;
    min-width: 50%;
    justify-content: center;
    margin-top: 20%;
    background-color: white;
}

.disclaimer {
    font-size: medium;
}

.inputValidation {
    font-size: 60%;
    margin: 1%;
    color: red;
}