.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Content {
  background: url(Vector_2.svg) no-repeat right center;
  background-size: contain;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.Login-Form {
  width: 70%;
  text-align: left;
  margin-left: 15%;
}

.Login-Shape {
  width: 40%;
  height: 100vh;
}

h1 {
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 0;
}

h2 {
  font-size: 20px;
  margin: 0 0 30px 0;
}

input {
  border: 1px solid #0473D5;
  border-radius: 10px;
  width: 40vh;
  height: 5vh;
  margin-bottom: 2vh;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 2vh;
}

button {
  background: #0473D5;
  border-radius: 10px;
  height: 5vh;
  color: #f6f6f6;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  display: inline;
}

button:hover {
  background: #0439CB;
  cursor: pointer;
}

div.progress-bar {
  width: 50%;
  display: flex;
  margin: auto;
  border: 1px solid #0473D5;
  height: 30px;
}

.progress-bar > span {
  width: 100%;
  background: #0473D5;
}
